apiVersion: apps/v1
kind: Deployment
metadata:
  name: dpp-worker
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: dpp-worker
        image: 783268398937.dkr.ecr.ap-northeast-2.amazonaws.com/dpp-worker:0.4.2.2
        resources:
          requests:
            memory: "1Gi"
            cpu: "1000m"
          limits:
            memory: "2Gi"
            cpu: "2000m"
